:root {
    --green: #009725;
    --green_hover: #00731c;
    --yellow: #dd9800; 
    --yellow_hover: #c28500;
    --text: #3c3744;
    --background: #e3e4db;
    --background_accent: #dce0b8;
}

body {
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: var(--background);
    color: var(--text);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--background);
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 55px;
    float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--background_accent);
    color: black;
    text-decoration: underline;
    transition: 0.2s;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--yellow);
    color: white;
}

.topnav a.active:hover{
    background-color: var(--yellow_hover);
    text-decoration: underline;
    transition: 0.2s;
}

.side{
    width: 25%;
}

.container_div{
    width: 50%;
}

.main_container{
    display: flex;
    flex-wrap: wrap;
}

#logo{
    width: 300px;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container_div{
        width: 96%;
    }
    .side{
        width: 2%;
    }
}